

.wp-block-button {

    &__link {

        background-color: $red;
        padding: 10px 20px;
        color: $grey !important;
        border-radius: 0;

        &:hover {
            background-color: $darkred;
            transition: all 0.3s ease-in-out;
        }

    }

}