
.section {

    &__blogposts {

        .about_btn {
            margin: 0 auto 40px;

            & ~ .wp-block-heading {
                margin-bottom: 50px;
            }
        }

        ul {

            display: grid !important;
            grid-template-columns: repeat(3, 1fr) !important;
            grid-column-gap: 25px;
            gap: 40px;
            height: 100%;


            @include media-breakpoint-down(lg) {
                grid-template-columns: repeat(1, 1fr) !important;
            }

            li {

                min-height: 450px;
                border-radius: 2px;
                box-shadow: 0 0 15px lightgrey;

                .wp-block-post-featured-image {
                    height: 100%;
                    img {
                        height: 100%;
                    }
                }

                @include media-breakpoint-up(lg){

                    .wp-block {

                        &-post-title {
                            position: absolute;
                            max-width: 30%;
                            bottom: 0px;
                            padding-left: 20px;
                            transition: all 0.2s ease;
                            a {
                                color: $white;
                                font-weight: 700;
                                line-height: 1.2;
                            }
                        }
    
                        &-post-date {
                            font-size: 12px;
                            position: absolute;
                            bottom: 25px;
                            padding-left: 140px;    
                            color: $white;
                            opacity: 0;
                            transition: all 0.2s ease;
                        }
    
                        &-post-terms {
                            position: absolute;
                            top: 20px;
                            padding-left: 20px;
                        }
    
                        &-read-more {
                            position: absolute;
                            bottom: 20px;
                            padding-left: 20px;
                            opacity: 0;
                            transition: all 0.2s ease;
                        }
    
                    } 
    
                    &:hover {
    
                        .wp-block-post-title {
                            bottom: 40px;
                            transition: all 0.2s ease;
                            a {
                                color: $white !important;
                            }
                        }
    
                        .wp-block-post-date {
                            opacity: 1;
                            transition: all 0.2s ease;
                        }
    
                        .wp-block-read-more {
                            opacity: 1;
                            transition: all 0.2s ease;
                        }
    
                    }

                }

                @include media-breakpoint-down(lg){

                    height: 450px;

                    .wp-block {

                        &-post-title {
                            position: relative;
                            // max-width: 30%;
                            margin-top: auto;
                            padding-left: 20px;
                            // transition: all 0.2s ease;
                            z-index: 99999;
                            a {
                                color: $white;
                                font-weight: 700;
                                line-height: 1.2;
                            }
                        }
    
                        &-post-date {
                            font-size: 12px;
                            bottom: 25px;
                            padding-left: 140px;    
                            color: $white;
                            opacity: 0;
                            transition: all 0.2s ease;
                        }
    
                        &-post-terms {
                            position: relative;
                            margin-top: auto;
                            padding-left: 20px;
                            margin-top: -200px;
                            z-index: 99999;
                        }
    
                        &-read-more {
                            bottom: 20px;
                            padding-left: 20px;
                            opacity: 0;
                            transition: all 0.2s ease;
                        }
    
                    } 
    
                    // &:hover {
    
                    //     .wp-block-post-title {
                    //         bottom: 40px;
                    //         transition: all 0.2s ease;
                    //         a {
                    //             color: $white !important;
                    //         }
                    //     }
    
                    //     .wp-block-post-date {
                    //         opacity: 1;
                    //         transition: all 0.2s ease;
                    //     }
    
                    //     .wp-block-read-more {
                    //         opacity: 1;
                    //         transition: all 0.2s ease;
                    //     }
    
                    // }

                }

                

            }

        }

    }

    &__fixed-block {

        min-height: 400px;
        margin-bottom: 100px;

        .areoi-background__image {

            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__testimonial {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 25px;
        gap: 40px;
        height: 100%;

        @include media-breakpoint-down(xl) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(1, 1fr);
        }

        .testimonial-item {

            background-color: $white;
            border-radius: 2px;
            box-shadow: 0 0 15px lightgrey;
            padding: 40px;

            &__image {
                float: left;
                padding-right: 10px;

                img {
                    width: 70px;
                    background-color: lightgrey;
                    border-radius: 100%;
                }
            }

            &__name {

                font-weight: 700;
                font-size: 18px;
                color: $darkblue;
                padding-top: 13px;

            }

        }

    }

    &__hero-banner {

        padding-top: 100px;
        padding-bottom: 100px;
    
        margin-top: 130px !important;
    
        background-image: url('../../assets/images/svg/planos.svg');
        background-repeat: no-repeat;
        background-position: 75% 300%;
        background-size: auto;
        background-color: #F4F4F8;

        @include media-breakpoint-down(sm) {
            background-position: 0% 300%;
        }

        h2 {
            font-size: 40px;
            font-weight: 700;
            color: $darkblue;
            margin-bottom: 20px;
        }

        span {
            font-size: 18px;
            font-weight: 400;
            color: $darkblue;
            margin-bottom: 20px;

            a {
                color: $orange;
                font-weight: 400;
            }
        }
    
    }

    &__blog{

        &-content {

            background-color: white;
            margin: -200px 40px 40px;
            width: auto;
            box-shadow: 0px 3px 15px lightgrey;
            background-blend-mode: multiply;

            .col {
                padding: 40px;

                p{
                    color: $darkblue;
                }

            }

            .wp-block-post-date {
                padding-left: 20px;
                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url('../../assets/images/svg/calendar.svg');
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: auto;

                }
            }

        }

        &-image {
            max-height: 500px;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                max-height: 500px;
            }
        }

    }

    &__property-item {

        padding: 20px 0 0;

        &__title{
            font-size: 18px;
            font-weight: 700;
            color: $darkblue;
            margin-bottom: 0px;
        }

        &__price p{
            font-size: 18px;
            font-weight: 400;
            color: $orange;
            margin-bottom: 10px;
        }

        .property-item {

            box-shadow: 0 0 15px lightgrey;

            &__status {

                background-color: $orange;
                padding: 5px 10px;

                position: absolute;
                top: 10px;
                right: 10px;

                color: $white;
                font-size: 14px;
                font-weight: 400;

            }

            &__image {

                img {
                    max-height: 300px;
                    object-fit: cover;
                    width: 100%;
                    position: relative;
                    margin-top: 10px;
                }

            }

            &__address {

                background-color: rgba($black,.44);
                padding: 5px 0 5px 10px;
                span {
                    color: $white;
                    font-size: 14px;
                    font-weight: 400;

                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: transparent;
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;
                        top: 2px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../assets/images/svg/dotmap-white.svg');
                    }
                }

            }

            &__price {

                padding: 20px 20px 10px;

                .price {
                    color: $orange;
                    font-size: 18px;
                    font-weight: 700;
                }

            }

            &__title {

                padding: 0 20px 10px;

                
                font-size: 22px;
                font-weight: 700;
                color: $darkblue;
                margin: 0;

                font-family: $heading-font;
                

            }

            &__description {

                padding: 0 20px 10px;
                z-index: 1;
                position: relative;

                span {
                    color: $darkblue;
                    font-size: 13px;
                    font-weight: 400;
                    margin: 0;
                }

            }

            &__card {

                display: flex;
                padding: 0 20px 20px 10px;
                margin-top: -30px;

                .card{

                    border: none;
                    padding: 0 10px;
        
                    &:after {
                        content: '';
                        border-right: 1px solid lightgrey;
                        height: 50px;
                        top: 45px;
                        position: absolute;
                        right: 0;
                    }
        
                    .card-body {
                        padding: 0;
                        p {
                            &:after {
                                content: '';
                                width: 15px;
                                height: 15px;
                                padding: 30px 15px 30px;
                                display: inline-block;
                                margin-right: 10px;
                                position: relative;
                                top: 23px;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size:60%;
                                // background-image: url('../../assets/images/svg/bed.svg');
                            }
                        }
                    }
        
                    .card-footer {
        
                        background-color: transparent;
                        border: none;
                        padding: 0;
        
                    }

                    &:nth-child(1) {
                        p:after {
                            background-image: url('../../assets/images/svg/bed.svg');
                        }
                    }
                    &:nth-child(2) {
                        p:after {
                            content: "";
                            background-image: url('../../assets/images/svg/bath.svg') !important;
                        }
                    }
                    &:nth-child(3) {
                        p:after {
                            content: "";
                            background-image: url('../../assets/images/svg/car.svg') !important;
                        }
                    }
                    &:nth-child(4) {
                        p:after {
                            content: "";
                            background-image: url('../../assets/images/svg/square.svg') !important;
                        }
                        &:after {
                            display: none;
                        }
                    }
        
                }

            }

        }

    }

    &__ourservices {

        margin-top: 100px;

        .container > .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 25px;
            gap: 40px;

            @include media-breakpoint-between(md, lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-down(sm) {
                grid-template-columns: repeat(1, 1fr);
            }


           > .col {

                &:nth-child(1){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                padding-bottom: 20px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-1.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-1.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(2){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-2.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-2.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(3){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-3.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-3.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(4){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-4.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-4.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(5){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-5.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-5.svg");
                                }
                            }
                        }
                    }
                }

                &:nth-child(6){
                    .card {
                        .card-header {
                            min-height: 80px;
                            width: 100%;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 60px;
                                position: absolute;
                                left: 0;
                                z-index: 1;
                                background-image: url("../../assets/images/svg/services-dark-6.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        &:hover {
                            .card-header {
                                &::before {
                                    transition: all 0.2s ease;
                                    background-image: url("../../assets/images/svg/services-orange-6.svg");
                                }
                            }
                        }
                    }
                }

           }

        }

        .card {

            background: none;
            border: none;
            box-shadow: 0 0 10px lightgrey;
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 30px;
            cursor: pointer;

            min-height: 370px;

            &-header,
            &-body,
            &-footer {
                border: none;
                background-color: transparent;
            }

            &:hover {

                border-bottom: 2px solid $orange;
                transition: all 0.2s ease;

            }


            &-footer {
                .wp-block-button__link {
                    &:after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        background-color: transparent;
                        display: inline-block;
                        margin-left: 10px;
                        position: relative;
                        top: 2px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../assets/images/svg/arrow-right.svg');
                    }
                }
            }

        }

    }

    &__about {

        &-intro {

            .about_btn {
                background-color: rgba($orange,.1);
                padding: 5px 20px;
                border-radius: 25px;
                width: fit-content;
            }
        
            .about_grid {
        
                .row {
        
                    .col {

                        @include media-breakpoint-down(md){

                            width: 100% !important;
                            
                            p {
                                text-align: left !important;
                            }
    
                        }
        
                        p {

                            &:before {
                                content: '';
                                width: 15px;
                                height: 15px;
                                background-color: lightgrey;
                                border-radius: 50%;
                                padding: 30px;
                                display: inline-block;
                                margin-right: 10px;
                                position: relative;
                                top: 25px;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size:50%;
                                background-image: url('../../assets/images/svg/smarthome.svg');
                            }
        
                        }
        
                        &:nth-child(2) {
                            p:before {
                                background-image: url('../../assets/images/svg/scene.svg');
                            }
                        }
        
                        &:nth-child(3) {
                            p:before {
                                background-image: url('../../assets/images/svg/lifestyle.svg');
                            }
                        }
        
                        &:nth-child(4) {
                            p:before {
                                background-image: url('../../assets/images/svg/security.svg');
                            }
                        }
        
                    }
        
                }
        
                & + blockquote {
                    background-color: rgba($orange,.1);
                    border-left: 5px $orange solid;
                    padding: 20px 30px;
                    margin: 50px 0;
                    p {
                        display: none;
                    }
                }
        
            }

        }

    }

    &__core-features {

        background-color: #F4F4F8;
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 100px 0;

        .grid_list {

            .col {
                background-color: $white;
                padding: 25px 25px 25px 150px;
                margin-bottom: 40px;
                border-radius: 5px;
                box-shadow: 0 0 15px lightgrey;

                &:before {
                    content: '';
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    z-index: 1;
                    background-repeat: no-repeat;
                    background-position: 20px center;
                    background-size: 50px;
                    box-shadow: 0 0 15px lightgrey;
                    border-radius: 100%;
                }

                &:nth-child(1)::before {
                    background-image: url('../../assets/images/svg/core_features-1.svg');
                }

                &:nth-child(2)::before {
                    background-image: url('../../assets/images/svg/core_features-2.svg');
                }

                &:nth-child(3)::before {
                    background-image: url('../../assets/images/svg/core_features-3.svg');
                }
            }
            p {
                margin-bottom: 0;
            }
        }

        .col.img-house {

            display: flex;
            justify-content: center;
            align-items:end ;

            .wp-block-image {
        
            }
        }

    }

    &__agent-item {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            max-height: 400px;

            z-index: 0;

            border: 20px solid $white;
            box-shadow: 0 0 15px lightgrey;

            @include media-breakpoint-between(md, lg) {
                min-height: 550px;
            }

        }

        &__image {

            @include media-breakpoint-down(lg) {
                margin-bottom: 50px;
            }

            @include media-breakpoint-down(xsm) {
                margin-bottom: 100px;
            }

        }

        &__content {

            background-color: $white;
            box-shadow: 0 0 15px lightgrey;
            border-radius: 5px;
            max-width: 80%;
            margin: -50px auto 0;
            z-index: 9;
            position: relative;

            // @include media-breakpoint-down(lg) {
            //     margin-bottom: 50px;
            // }


        }

        &__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__title {
            color: $darkblue;
            font-family: $heading-font;
            font-size: 18px;
            font-weight: 700;
        }

        &__role p{
            color: $darkblue;
            font-family: $body-font;
            font-size: 14px;
            font-weight: 400;
        }

        &__social {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $orange;

            a {
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                background-color: $orange;
                color: $white;
                transition: all 0.2s ease;

                background-repeat: no-repeat;
                background-position: center;
                background-size: 35%;
                box-shadow: 0 0 5px lightgrey;

                &:nth-child(1) {
                    background-image: url('../../assets/images/svg/facebook-white.svg');
                }

                &:nth-child(2) {
                    background-image: url('../../assets/images/svg/x-white.svg');
                }

                &:nth-child(3) {
                    background-image: url('../../assets/images/svg/pinterest-white.svg');
                }

                &:hover {
                    background-color: $darkblue;
                    transition: all 0.2s ease;
                    transform: scale(1.1);
                }

            }

        

        }

    }

    &__contact {

        box-shadow: 0 0 15px lightgrey;
        border-radius: 5px;
        padding: 100px 70px;

        @include media-breakpoint-down(lg) {
            box-shadow: none;
            padding: 0 40px 0px;
        }

        @include media-breakpoint-down(xsm) {
            padding: 0 20px 0px;
        }

        .info {

            border-radius: 50px;

            display: flex;
            justify-content:center;
            align-items:baseline;
            flex-direction: column;

            padding: 15px 30px;
            max-width: 90%;

            margin-bottom: 20px;
    
            @include media-breakpoint-down(xsm) {
                max-width: 100%;
            }

            .wp-block-heading,
            p  {
                margin-bottom: 0;
                padding-left: 60px;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                background-image: url('../../assets/images/svg/contact-1.svg');
                background-repeat: no-repeat;
                background-position: left center;
                background-size: contain;
            }

            &:hover{
                background-color: rgba($orange, 0.1);
                cursor: pointer;
                transition: all 0.2s ease;
            }

        }

    }

}