.page-template-contact {

    h1 {

        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem;

        span {
            color: $green;
        }

    }

    @include media-breakpoint-down(xl) {
        h1,
        .wp-block-spacer ~ .container{
            padding-left: 20px;
            padding-right: 20px;

            h2.wp-block-heading {
                margin-top: 50px !important;
            }
        }
    }

}