.home{

    .wp-block-site-title,
    .wp-block-navigation-item  {
        color: $lightgrey
    }

    .swiper-home-top {
        height: 100vh;
        margin-bottom: 15vh;
        // margin-top: 15vh;
        width: 100%;
        padding: 0;
        overflow: hidden;

        .swiper-wrapper {
            width: max-content;

            .swiper-slide {
                text-align:left;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content:flex-start;
                align-items: center;

                .wp-block-heading {
                    font-size: 70px;
                    font-weight: 700;
                    color: $lightgrey;

                    span {
                        color: $green;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $lightgrey;
                    margin: 0;
                }
            }
        
        }

                    
    }

    .wp-block-query {

        ul {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 25px;
            gap: 40px;
            height: 100%;

            @include media-breakpoint-down(sm) {
                grid-template-columns: repeat(1, 1fr) !important;
            }

        }

    }

}