.home{

    header .header-phonenumber a {
        color: $lightgrey !important;
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }

    .wp-block-heading {
        font-size: 30px;
        font-weight: 700;
        // color: $lightgrey;

        span {
            color: $green;
        }
    }

    .wp-block-site-title,
    .wp-block-navigation-item  {
        color: $lightgrey
    }

    @include media-breakpoint-down(xl)  {
        .wp-block-navigation-item {
            color: $darkblue;
        }
    }

    .swiper-home-top {
        height: 100vh;
        margin-bottom: 15vh;
        // margin-top: 15vh;
        width: 100%;
        padding: 0;
        overflow: hidden;

        .swiper-wrapper {
            width: max-content;

            .swiper-slide {
                text-align:left;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content:flex-start;
                align-items: center;

                .wp-block-heading {
                    font-size: 70px;
                    font-weight: 700;
                    color: $lightgrey;

                    span {
                        color: $green;
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $lightgrey;
                    margin: 0;
                }
            }
        
        }
        
    }

    @include media-breakpoint-down(lg) {
        .swiper-button-next,
        .swiper-button-prev {
            top: 95%
        }
    }

    .wp-block-query {

        ul {

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 25px;
            gap: 40px;
            height: 100%;

            @include media-breakpoint-down(sm) {
                grid-template-columns: repeat(1, 1fr) !important;
            }

        }

    }

    .swiper-projects {

        overflow: hidden;

        .project-item {

            &__image {

                img {
                    width: 100%;
                    object-fit: cover;

                    height: 650px;
                }

            }

            &__title {
                    
                    font-size: 22px;
                    font-weight: 700;
                    color: $darkblue;
                    margin-top: 40px;
                    margin-bottom: 0;
    
                    font-family: $heading-font;
    
                
            }

        }

    }

    .testimonials {

        height: 450px;

        .areoi-background__image {
            background-size: cover !important;
            background-attachment: fixed !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }
    
    }

    .postloop {

        ul li > div {
            padding: 0 !important;
            height: 300px;

            &:hover {
                .wp-block-post-date,
                .wp-block-post-title {
                    opacity: 1;
                }
                .wp-block-post-featured-image {
                    img {
                        opacity: 0;
                    }
                }

                border: solid 3px $green;
                
            }
        }

        .wp-block-post {

            &-featured-image {
                img {
                    width: 100%;
                    object-fit: cover;
                    height: 300px;
                    cursor: pointer;
                }

                &:hover {
                    ~ .wp-block-post-date,
                    ~ .wp-block-post-title {
                        opacity: 1;
                    }
                }
            }

            &-title,
            &-date {
                position: relative;
                z-index: 1;
                cursor: pointer;
                opacity: 0;
            }

            &-title {
                padding: 0 0 0 20px;
                font-size: 32px;
            }

            &-date {
                margin-top: -300px;
                color: $darkblue;
                padding: 10px 0 0 20px;
            }

            &-title,
            &-date,
            &-featured-image {
                transition: all .4s ease-in-out;
            }

        }

    }

}