main {

    margin-block-start: 0 !important;
    
    &.wp-block-group {
        padding: 0;
    }

}

.container-fluid {

    max-width: none !important;

}

img {

    max-width: 100%;
    height: auto;

}

.u-faux-box-link {
    position: relative;
}

// Overlay styling
.u-faux-box-link__overlay {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    text-indent: 200%;
    white-space: nowrap;

    background: transparent;
    z-index: 2;
}

.swiper-pagination {
    &-bullet {
        background-color: transparent;
        opacity: 1;
        font-size: 250%;
        padding-right: 25px;
        &::after {
            content: "-";
            color: $white;
        }

        &-active {
            &::after {
                content: "-";
                color: $green;
            }
        }
    }
}

.swiper-button {

    &-prev,
    &-next {
        &::after {
            color: white;
        }
    }

}

.wp-block{
    &-categories-list {
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: block;
            margin-right: 10px;
            background-color: rgba($green, 0.1);
            padding: 5px 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: $green;
            a {
                color: $green;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}   