<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header is-style-full-site-editing-sticky"} /-->

<!-- wp:areoi/container {"block_id":"8a962525-fed7-4974-8f17-fe6aca884a97","container":"container-fluid","background_color":{"hex":"#f4f4f8","rgb":{"r":244,"g":244,"b":248,"a":1},"hsv":{"h":240,"s":2,"v":97,"a":1},"hsl":{"h":240,"s":22,"l":96,"a":1},"source":"hex","oldHue":240},"className":"section__hero-banner"} -->
<!-- wp:areoi/row {"block_id":"4dbd149e-e7e5-4d29-a88b-686ddf84e9a2"} -->
<!-- wp:areoi/column {"block_id":"2318532c-b883-4d48-9165-33275e300062"} -->
<!-- wp:areoi/container {"block_id":"5c59631f-a9e1-476b-bcad-212aef091819"} -->
<!-- wp:areoi/row {"block_id":"2dc3b50a-69ae-4f25-899b-6e996d4e99f8"} -->
<!-- wp:areoi/column {"block_id":"b4f0ed2c-572a-4c15-85e7-7ca3646bbc56"} -->
<h2>Blog Categories</h2>

<!-- wp:shortcode -->[wpseo_breadcrumb]<!-- /wp:shortcode -->
<!-- /wp:areoi/column -->

<!-- wp:areoi/column {"block_id":"f10f83a2-c187-4bf0-ab1a-094397b767a5"} /-->
<!-- /wp:areoi/row -->
<!-- /wp:areoi/container -->
<!-- /wp:areoi/column -->
<!-- /wp:areoi/row -->
<!-- /wp:areoi/container -->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1.25rem) *3)","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">
	<!-- wp:query-title {"type":"archive","level":2,"className":"is-style-full-site-editing-text-shadow","fontSize":"x-large"} /-->
	<!-- wp:term-description /-->
	<!-- wp:spacer {"height":"20px"} -->
	<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
	<!-- wp:query {"query":{"perPage":5,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"full","layout":{"inherit":true}} -->
	<div class="wp-block-query alignfull">
		<!-- wp:post-template -->
		<!-- wp:post-title {"level":3,"isLink":true,"className":"is-style-full-site-editing-text-shadow","fontSize":"x-large"} /-->
		<!-- wp:group {"layout":{"type":"flex","allowOrientation":false}} -->
		<div class="wp-block-group">
			<!-- wp:post-author {"showAvatar":false} /-->
			<!-- wp:post-date /-->
			<!-- wp:post-terms {"term":"category"} /-->
		</div>
		<!-- /wp:group -->
		<!-- wp:separator {"color":"secondary","className":"is-style-wide"} -->
		<hr class="wp-block-separator has-text-color has-background has-secondary-background-color has-secondary-color is-style-wide" />
		<!-- /wp:separator -->
		<!-- wp:post-excerpt {"showMoreOnNewLine":false} /-->
		<!-- wp:spacer {"height":"40px"} -->
		<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
		<!-- /wp:post-template -->

		<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
		<!-- wp:query-pagination-previous {"label":"Previous"} /-->
		<!-- wp:query-pagination-next {"label":"Next"} /-->
		<!-- /wp:query-pagination -->

	</div><!-- /wp:query -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
